.mgb-10 {
  margin-bottom: 10px;
}

.mgb-20 {
  margin-bottom: 20px;
}

.mgr-5 {
  margin-right: 5px;
}


.wrapper {
  margin: 0 20px;
}

.align-center {
  text-align: center;
}


.avatar {
  width: 100px;
}

.avatar.small {
  width: 25px;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}


.user-info {
  padding: 20px;
}
